%footer
	:markdown
		Course content and page design by [Andrew Pilsch](http://andrew.pilsch.com). Made with with [Middleman](http://www.middlemanapp.com), [HAML](http://haml.info/), [SASS](http://sass-lang.com/), [Bourbon SASS](http://thoughtbot.github.com/bourbon/), [Susy](http://susy.oddbird.net), and [Modernizr](http://modernizr.com/). Styled using [Modular Scale](http://modularscale.com/).